parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
